.lcg-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-row {
  margin-bottom: 10px;
}

.input-row label {
  font-weight: bold;
}

.input-row input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.generate-button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.lcg-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.lcg-table th,
.lcg-table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.lcg-table th {
  background-color: #f2f2f2;
}

.lcg-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.chart-container {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

.chart-container {
  position: relative;
}

.chart-legend {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 2rem;
}
.chart-legend span {
  font-size: 20px;
  font-family: monospace;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 12px;
}

.legend-color {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
